.icheck-primary > input:first-child:checked + label::before,
.icheck-primary > input:first-child:checked + input[type="hidden"] + label::before {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.sidebar , body{
    font-size: 14px;
}
._btnajouter {
    float: right;
    margin-bottom: 0.5rem;
}

label.required:before {
    content: "*";
    color: red;
}

.info-box .progress-description, .info-box .info-box-text {
    white-space : normal;
    margin-bottom: 0.5rem;
}

.info-box {
    height: 100px;
}
table .table-produit {
    min-width: 904px;
}
.margin-left-1 {
    margin-left: 12px;
}

.margin-left-2 {
    margin-left: 24px;
}
button.swal2-cancel {
    margin-right: 20px;
}

.error-validation {
    color: #a71d2a;
}

.error-validation li {
    list-style: none;
}

.add-produit {
    margin: 0.5rem;
}
.delete-produit {
    margin: 0.5rem;
}

.bottom-0 {
    bottom: 0px;
}

.bottom-1 {
    bottom: 10%;
}

/**
* message alert
 */
label.command-reference + ul , label.command-code + ul{
    display: none;
}
